<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SocialMedia</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-white">
    <nav class="flex flex-row justify-center gap-2">
      <a class="px-4 py-3 text-lg text-[#101010] font-medium " href="/">Home</a>
      <a class="px-4 py-3 text-lg text-[#101010] font-medium" href="/register">Register</a>
  </nav>
    <div class="w-full text-center min-h-screen p-10">
      <h3 class="text-3xl text-[#101010] m-5">Login</h3>
      <form action="/login" method="post" class="flex flex-col w-full items-center justify-center">
        <input
          class="px-3 py-2 outline-none text-[#101010] m-2 rounded-xl bg-transparent border-2 border-zinc-300"
          type="email"
          name="email"
          placeholder="email"
          id=""
        />
        <input
          class="px-3 py-2 outline-none text-[#101010] m-2 rounded-xl bg-transparent border-2 border-zinc-300"
          type="password"
          name="password"
          placeholder="password"
          id=""
        />
        <input
          class="px-3 py-2 m-2 bg-[#101010] text-white font-bold rounded-xl"
          type="submit"
          value="Login Account"
        />
      </form>
    </div>
  </body>
</html>
